<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logan20.assignment1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIComponents"
            android:label="@string/title_activity_uicomponents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Layouts"
            android:label="@string/title_activity_layouts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dialogs"
            android:label="@string/title_activity_dialogs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToastAndSnackbar"
            android:label="@string/title_activity_toast_and_snackbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBundle"
            android:label="@string/title_activity_activity_bundle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityForResult"
            android:label="@string/title_activity_activity_for_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomAdapter"
            android:label="@string/title_activity_custom_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragment"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActionBarAndMenus"
            android:label="@string/title_activity_action_bar_and_menus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logan20.assignment1.ItemListActivity" />
        </activity>
    </application>

</manifest>
